/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

nav {
	display: flex;
	background-color: steelblue;
    padding: 1rem;
    justify-content: space-evenly;
 
}

.hero img {
    display: flex;
    width: 850px;
    height: auto;
}

header {
	margin: 1rem auto;
	display: flex;

    align-items: center;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}


.logo img {
	margin: 3px;
	width: 550px;
	height: auto;
	text-align: center 
}


* {
	
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-align: center 
}

body {
	padding: 2rem;
    font-family: "Mobsterrat", sans-serif;
    font-size: 25px;
    color: rgb(73, 50, 202);
	text-align: center 
}

h1, h2, h3 {
    color: rgb(73, 50, 202);
	size: 150px;
	padding: auto;
	text-align: center 
}

p {
    color: #333;
	text-align: center 
}

.footer {
    justify-content: flex-end;
	text-align: center 
}

.icons {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 840px;
}

nav a{
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    display: block;
    color: #fff;

}

h1 {
    color: rgb(0, 0, 0);
}

img {
    width: 150px;
    height: auto;
    border: 2px solid steelblue;
    padding: 10px;
}

p {
    padding: 10px;
}

aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 400px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    top: 300px;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}


body {background-color: rgb(176, 199, 250);}

table {
	text-align: center;
}

table {
	text-align: center;
}