/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {

    --primary-color: steelblue;
    --second-color: #eee;
    --third-color: #333;
    --font-color: rgb(73, 50, 202);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mobsterrat", sans-serif;
    font-size: 25px;
    color: rgb(73, 50, 202);
}

h1, h2, h3 {
    color: rgb(73, 50, 202);
}

p {
    color: #333;
}

header {
    color: #333;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}