@import url('https://coolors.co/8e9b90-93c0a4-b6c4a2-d4cdab');

:root {
    --primary-color: #4532f0;
    --secondary-color: #2b0d7e;
    --accent1-color: #bdbdbd;
    --accent2-color: #000000;

    --heading-font: '', serif;
    --paragraph-font: '', serif;

    --nav-background-color: #8e9b90; 
    --nav-link-color: #0e50df;
    --nav-hover-link-color: #B6C4A2;
    --nav-gover-background-color: #D4CDAB;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}